//colors
$black: #000;

$white: #fff;
$red: #dc143c;
$color_bluelight: #bde8ff;
$color_mystic: #dce6ea;

$color_nobel:#C1B9B9;

$color_bombay: #b5b7be;
$color_mine: #232323;
$color_cod: #191919;
$color_grey: #464c54;

$crimson: #dc143c;



//fonts
$font_0: 'Roboto';
$font_1: sans-serif;