//colors
$black: #000;
$black_5: rgba(0, 0, 0, 0.05);
$color_athens_gray_approx: #e2e8f0;
$white: #fff;
$red: #f00;
$color_french_pass_approx: #bde8ff;
$color_mystic_approx: #dce6ea;
$black_80: rgba(0, 0, 0, 0.8);
$color_thunderbird_80_approx: rgba(209, 33, 33, 0.8);
$color_nobel_884_approx: rgba(185, 176, 176, 0.884);
$white_80: rgba(255, 255, 255, 0.8);
$color_bombay_approx: #b5b7be;
$color_mine_shaft_approx: #232323;
$color_cod_gray_approx: #191919;
$color_river_bed_approx: #464c54;
$color_silver_chalice_approx: #a9a9a9;
$color_dove_gray_approx: #696969;
$color_purple_heart_approx: #8a2be2;
$color_gull_gray_267_approx: rgba(163, 176, 187, 0.267);
$cornflower_blue: #6495ed;
$crimson: #dc143c;

//fonts
$font_0: 'Roboto';
$font_1: 'sans-serif';