//colors
$black: rgba(0, 0, 0, 1);
$black_5: rgba(0, 0, 0, 0.05);
$crimson: rgba(220, 20, 60, 1);
$white: rgba(255, 255, 255, 1);
$color_athens_gray_approx: rgba(226, 232, 240, 1);
$color_french_pass_approx: rgba(189, 232, 255, 1);
$color_mine_shaft_approx: rgba(35, 35, 35, 1);
$color_mystic_approx: rgba(220, 230, 234, 1);
$color_silver_approx: rgba(193, 185, 185, 1);
$color_bombay_approx: rgba(181, 183, 190, 1);
$color_cod_gray_approx: rgba(25, 25, 25, 1);
$color_river_bed_approx: rgba(70, 76, 84, 1);

//fonts
$font_0: Roboto;
$font_1: sans-serif;

@-webkit-keyframes slide {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@-webkit-keyframes slide-in-fwd-center {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide-in-fwd-center {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@-webkit-keyframes slide-in-left {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-left {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
@-webkit-keyframes slide-in-right {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
.slide {
	animation: slide 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.delay1 {
	animation-delay: 0.3s;
}
.delay2 {
	animation-delay: 1.2s;
}
.delay3 {
	animation-delay: 1.3s;
}
.delay4 {
	animation-delay: 1.1s;
}
.delay5 {
	animation-delay: 1.2s;
}
.delay6 {
	animation-delay: 1.3s;
}
.delay7 {
	animation-delay: 1.4s;
}
.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
footer {
	display: flex;
	flex-direction: column;
	h2 {
		background: $black;
		color: $crimson;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 22px;
		padding: 0.3em;
	}
	a {
		text-decoration: none;
		color: $white;
		background: $black;
		font-size: 16px;
		font-weight: 500;
		line-height: 2em;
		padding-left: 10px;
	}
}
.header {
	position: absolute;
	top: 0;
	z-index: 1000;
	border-bottom: 1px solid $color_athens_gray_approx;
}
.navbar {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	background: $black;
}
.hamburger {
	display: none;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	background-color: $white;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-item {
	margin-left: 5rem;
}
.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: $white;
	&:hover {
		color: $crimson;
	}
}
.red {
	color: $crimson;
}
.nav-logo {
	font-size: 2.1rem;
	font-weight: 500;
	color: $crimson;
}
@media only screen and(max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: $black;
		width: 100%;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		text-align: center;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.3s;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 10px 27px $black_5;
		&.active {
			left: 0;
		}
	}
	.nav-item {
		margin: 2.5rem 0;
	}
	.hamburger {
		display: block;
		cursor: pointer;
	}
	.hero {
		display: flex;
		flex-direction: column;
	}
	.max {
		font-size: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.right {
		padding: 25px 0;
	}
	.ssection {
		display: flex;
		margin: 1em;
		flex-direction: column;
		.parag {
			margin: 1em 0;
		}
		.btn {
			margin: 1em 0;
		}
		h3 {
			margin: 1em 0;
		}
		ul {
			margin: auto;
		}
	}
	.about {
		width: 80%;
		margin: auto;
	}
	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.box {
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.end {
		display: flex;
		width: 100%;
		margin: auto;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	[class^="icon-"] {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	[class*=" icon-"] {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.LegendItem_Eye {
		display: none;
	}
	.LegendItem_Text {
		margin: auto;
		max-width: 80%;
	}
	.hero-offer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.mobile-pic {
		margin: 2em 0;
	}
	.pictures i {
		display: flex;
	}
	.icon-small + p {
		padding-left: 0;
		margin: 1em;
	}
	span .icon-small {
		text-align: center;
		margin: auto;
	}
}
.prev {
	cursor: pointer;
	position: absolute;
	top: 55%;
	width: auto;
	margin-top: -1.875rem;
	padding: 1rem;
	color: $white;
	font-weight: bold;
	font-size: 3rem;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.4s;
	&:hover {
		text-decoration: none;
	}
}
.next {
	cursor: pointer;
	position: absolute;
	top: 55%;
	width: auto;
	margin-top: -1.875rem;
	padding: 1rem;
	color: $white;
	font-weight: bold;
	font-size: 3rem;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.4s;
	position: absolute;
	right: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	&:hover {
		text-decoration: none;
	}
}
* {
	margin: 0;
	padding: 0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: $font_0, $font_1;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	&.about-btn {
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 900px;
		margin-right: -50%;
		font-size: 16px;
		color: $white;
		background-color: $black;
		padding: 1em;
		&:hover {
			color: $black;
			background-color: $crimson;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: .2s ease-in;
			border-color: 1px solid $black;
		}
	}
}
.max {
	text-align: center;
	font-size: 34px;
	font-weight: 800;
	line-height: 1.1;
}
.hit {
	font-size: 4.5em;
	font-weight: 800;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
	padding: 1em 0;
	letter-spacing: 8px;
}
.parag {
	margin: 10px 0;
	padding: 22px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.6em;
	text-align: center;
}
.hero {
	margin-top: 4em;
	display: flex;
	width: 100%;
	height: 100vh;
	.left p {
		display: flex;
		justify-self: flex-end;
	}
}
.right {
	flex: 40%;
	text-align: center;
	background: $color_french_pass_approx;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.btn {
		display: block;
		width: 200px;
		text-transform: uppercase;
		padding: 1em;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid $black;
		background-color: $black;
	}
	p {
		display: block;
	}
}
span {
	.fas {
		color: $crimson;
	}
	h1 {
		color: $crimson;
		display: inline;
		background-color: $white;
		font-size: 1.5em;
	}
	h2 {
		color: $white;
		margin-top: 21px;
		display: inline-block;
		font-size: 3.1em;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: $color_mine_shaft_approx;
	}
}
ul {
	font-size: 24px;
}
.left {
	flex-direction: column;
	padding: 0 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 60%;
	background: $color_mystic_approx;
}
.book {
	display: inline-block;
	background: $black;
	color: $white;
	margin-top: 44px;
	padding: 1em;
}
.ssection {
	margin-top: .1em;
	display: flex;
	height: auto;
	.btn {
		display: block;
		width: 200px;
		text-transform: uppercase;
		padding: 1em;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid;
		background-color: $crimson;
	}
	i {
		margin: .5em;
	}
	ul {
		margin: 1em 0;
		li {
			font-size: 16px;
			padding: 5px 0;
			margin: 0;
			list-style: disc;
		}
	}
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 22px;
		padding: 0.3em;
	}
}
.s-left {
	flex-direction: column;
	padding: 0 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.s-right {
	flex-direction: column;
	padding: 0 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.trans {
	margin-top: 5em;
	display: flex;
	width: 100%;
	height: 40vh;
	background: $color_silver_approx;
	flex-direction: column;
	align-items: center;
	.btn {
		display: block;
		width: 200px;
		text-transform: uppercase;
		text-align: center;
		padding: 1em;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid;
		background-color: transparent;
	}
	h2 {
		margin-top: 1em;
		padding: 0.5em;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 800;
		background: $white;
		color: $crimson;
	}
}
.about {
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: auto;
	i {
		font-size: 200px;
		margin-top: .2em;
		align-self: center;
	}
	h3 {
		margin-top: 1em;
		margin-bottom: 0.5em;
		font-size: 23px;
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		text-align: left;
	}
	p {
		font-size: 18px;
		font-weight: 500;
		line-height: 32.4px;
		padding: 0 0 1em;
		text-align: left;
	}
}
.customer-revs {
	margin-top: 2em;
	.author {
		font-size: 16px;
		font-weight: 400;
		line-height: 32.4px;
	}
	q {
		font-size: 18px;
		font-weight: 500;
		line-height: 32.4px;
		padding: 0.5em;
		background: $white;
	}
	h1 {
		padding: 0.8em;
		margin-top: 2em;
		margin-bottom: 0.5em;
		font-size: 23px;
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		text-align: center;
	}
}
.rectangle {
	width: 40%;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.slideshow-container {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: $color_bombay_approx;
}
.mySlides {
	display: none;
	padding: 2rem 5rem 0;
	text-align: center;
}
.mySlidesContainer {
	min-height: 5rem;
	padding: 3.5rem 2.5rem 2rem 3.5rem;
}
.dot-container {
	height: auto;
	text-align: center;
	background: $color_bombay_approx;
	padding: 2em;
}
.dot {
	height: 0.9375rem;
	width: 0.9375rem;
	margin: 0 2px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	display: inline-block;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background-color 0.4s ease;
}
.active {
	background-color: $color_mine_shaft_approx;
}
.icon-small {
	display: flex;
	flex-direction: row;
	align-items: center;
	i {
		height: 38px;
		width: 38px;
		color: $crimson;
		font-size: 24px;
		line-height: 15px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 10%;
		text-align: center;
		vertical-align: middle;
		padding-top: 12px;
	}
	+ p {
		margin-top: 15px;
		font-size: 24px;
		font-weight: normal;
		padding-left: 2em;
	}
	h4 {
		font-size: 32px;
		font-weight: bold;
		color: $color_mine_shaft_approx;
	}
}
.details {
	padding: 0 1em;
}
.box {
	background-color: $white;
	width: 33%;
	margin: auto;
	padding: 1em;
	margin-top: 3em;
	margin-bottom: 3em;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.red-section {
	margin-bottom: 2em;
	margin-top: 3em;
	background-color: $crimson;
	color: $white;
	h1 {
		padding-top: 2em;
		font-size: 32px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
	}
	p {
		line-height: 25px;
		font-size: 20px;
		padding: 1em 5em;
	}
	i {
		font-size: 90px;
		color: $black;
	}
}
.red-boxes {
	padding-bottom: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: -2em;
	i p {
		text-align: center;
	}
}
.card {
	display: flex;
	flex: 1;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
.end {
	background: $color_french_pass_approx;
	width: 100%;
	display: flex;
}
.hero-offer {
	margin-top: 2em;
	display: flex;
	background-color: $color_cod_gray_approx;
	color: $white;
	margin-bottom: 22px;
}
.feat {
	text-align: center;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h3 {
		line-height: 1.1;
		font-size: 23px;
		margin: .7em 0;
		padding: 1em;
	}
	h1 {
		line-height: 1.1;
		font-size: 33px;
		margin: .7em 0;
		padding: 1em;
	}
}
.mobile-pic {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	i {
		font-size: 500px;
	}
}
.end-left {
	margin: auto;
	flex: 50%;
	text-align: center;
	background: $color_french_pass_approx;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h1 {
		padding: 1.5em;
		font-size: 32px;
	}
	p {
		padding: 1em;
		text-align: center;
		font-size: 20px;
		line-height: 2;
	}
}
.container-text {
	width: auto;
}
.end-right {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	i {
		padding: .1em;
		font-size: 222px;
	}
}
.LegendItem {
	font-size: 18px;
	display: flex;
}
.LegendItem_Eye {
	margin-left: 52px;
	width: 23px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 11px 10px;
	color: $crimson;
}
.LegendItem_Text {
	flex: 1;
	padding: 11px 10px;
	line-height: 1.3;
	text-align: justify;
}
.hero-contact {
	background: $color_river_bed_approx;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-direction: column;
	h1 {
		font-size: 60px;
		text-transform: uppercase;
		padding: .2em;
	}
}
.center {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	margin: 2em 0;
}
.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 70%;
	margin: auto;
	font-size: 24px;
	text-align: start;
	border: 1px solid $black;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 12px;
	padding: 10px;
}
.map {
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
button {
	display: block;
	border: 0;
	margin: 10px 0;
	padding: 0.5em;
	color: $white;
	background: $crimson;
	text-align: center;
}
input {
	padding: 2px;
	margin: 20px 0;
	width: 100%;
}
textarea {
	padding: 2px;
	margin: 20px 0;
	width: 100%;
}
.contact-left {
	margin: 20px 0;
	letter-spacing: 2px;
	font-size: 20px;
	height: 100%;
	flex: 1;
	padding: 25px;
	line-height: 1.9;
}
.contact-right {
	flex: 1;
	flex-direction: column;
	display: flex;
}
.about-hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: $color_river_bed_approx;
	text-align: center;
	h1 {
		background: $white;
		color: $color_river_bed_approx;
		font-size: 60px;
		text-transform: uppercase;
		padding: .2em;
	}
}
.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 4em 0;
	p {
		width: 80%;
		max-width: 900px;
		font-size: 20px;
		line-height: 1.8;
		text-align: center;
	}
	i {
		max-width: 900px;
		margin: 0.1em;
		font-size: 344px;
	}
}
.quotte {
	padding: 2em;
	max-width: 900px;
	margin: auto;
	background: $black;
	color: $white;
	margin-bottom: 2em;
	border-left: $crimson 4px solid;
	border-right: $crimson 4px solid;
	h2 {
		font-weight: 700;
		font-size: 2em;
		line-height: 1.6;
	}
	p {
		font-weight: 700;
		font-size: 16px;
		text-align: end;
	}
}
.fifty {
	margin-top: 44px;
	display: flex;
}
.fifty-left {
	flex: 70%;
	text-align: center;
	font-weight: 900;
}
.fifty-right {
	flex: 30%;
	background-color: $crimson;
}
.fa-ul li {
	padding: 5px 0;
}
.btn:hover {
	background: $white;
	color: $black;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.45s;
}
.picures i {
	font-size: 40px;
}//colors
$black: rgba(0, 0, 0, 1);
$black_5: rgba(0, 0, 0, 0.05);
$crimson: rgba(220, 20, 60, 1);
$white: rgba(255, 255, 255, 1);
$color_athens_gray_approx: rgba(226, 232, 240, 1);
$color_french_pass_approx: rgba(189, 232, 255, 1);
$color_mine_shaft_approx: rgba(35, 35, 35, 1);
$color_mystic_approx: rgba(220, 230, 234, 1);
$color_silver_approx: rgba(193, 185, 185, 1);
$color_bombay_approx: rgba(181, 183, 190, 1);
$color_cod_gray_approx: rgba(25, 25, 25, 1);
$color_river_bed_approx: rgba(70, 76, 84, 1);

//fonts
$font_0: Roboto;
$font_1: sans-serif;

@-webkit-keyframes slide {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@-webkit-keyframes slide-in-fwd-center {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide-in-fwd-center {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		opacity: 1;
	}
}
@-webkit-keyframes slide-in-left {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-left {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
@-webkit-keyframes slide-in-right {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		opacity: 1;
	}
}
.slide {
	animation: slide 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.delay1 {
	animation-delay: 0.3s;
}
.delay2 {
	animation-delay: 1.2s;
}
.delay3 {
	animation-delay: 1.3s;
}
.delay4 {
	animation-delay: 1.1s;
}
.delay5 {
	animation-delay: 1.2s;
}
.delay6 {
	animation-delay: 1.3s;
}
.delay7 {
	animation-delay: 1.4s;
}
.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
footer {
	display: flex;
	flex-direction: column;
	h2 {
		background: $black;
		color: $crimson;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 22px;
		padding: 0.3em;
	}
	a {
		text-decoration: none;
		color: $white;
		background: $black;
		font-size: 16px;
		font-weight: 500;
		line-height: 2em;
		padding-left: 10px;
	}
}
.header {
	position: absolute;
	top: 0;
	z-index: 1000;
	border-bottom: 1px solid $color_athens_gray_approx;
}
.navbar {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	background: $black;
}
.hamburger {
	display: none;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	background-color: $white;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-item {
	margin-left: 5rem;
}
.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: $white;
	&:hover {
		color: $crimson;
	}
}
.red {
	color: $crimson;
}
.nav-logo {
	font-size: 2.1rem;
	font-weight: 500;
	color: $crimson;
}
@media only screen and(max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: $black;
		width: 100%;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		text-align: center;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.3s;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 10px 27px $black_5;
		&.active {
			left: 0;
		}
	}
	.nav-item {
		margin: 2.5rem 0;
	}
	.hamburger {
		display: block;
		cursor: pointer;
	}
	.hero {
		display: flex;
		flex-direction: column;
	}
	.max {
		font-size: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.right {
		padding: 25px 0;
	}
	.ssection {
		display: flex;
		margin: 1em;
		flex-direction: column;
		.parag {
			margin: 1em 0;
		}
		.btn {
			margin: 1em 0;
		}
		h3 {
			margin: 1em 0;
		}
		ul {
			margin: auto;
		}
	}
	.about {
		width: 80%;
		margin: auto;
	}
	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.box {
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.end {
		display: flex;
		width: 100%;
		margin: auto;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	[class^="icon-"] {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	[class*=" icon-"] {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.LegendItem_Eye {
		display: none;
	}
	.LegendItem_Text {
		margin: auto;
		max-width: 80%;
	}
	.hero-offer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.mobile-pic {
		margin: 2em 0;
	}
	.pictures i {
		display: flex;
	}
	.icon-small + p {
		padding-left: 0;
		margin: 1em;
	}
	span .icon-small {
		text-align: center;
		margin: auto;
	}
}
.prev {
	cursor: pointer;
	position: absolute;
	top: 55%;
	width: auto;
	margin-top: -1.875rem;
	padding: 1rem;
	color: $white;
	font-weight: bold;
	font-size: 3rem;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.4s;
	&:hover {
		text-decoration: none;
	}
}
.next {
	cursor: pointer;
	position: absolute;
	top: 55%;
	width: auto;
	margin-top: -1.875rem;
	padding: 1rem;
	color: $white;
	font-weight: bold;
	font-size: 3rem;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.4s;
	position: absolute;
	right: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	&:hover {
		text-decoration: none;
	}
}
* {
	margin: 0;
	padding: 0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: $font_0, $font_1;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	&.about-btn {
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 900px;
		margin-right: -50%;
		font-size: 16px;
		color: $white;
		background-color: $black;
		padding: 1em;
		&:hover {
			color: $black;
			background-color: $crimson;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: .2s ease-in;
			border-color: 1px solid $black;
		}
	}
}
.max {
	text-align: center;
	font-size: 34px;
	font-weight: 800;
	line-height: 1.1;
}
.hit {
	font-size: 4.5em;
	font-weight: 800;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
	padding: 1em 0;
	letter-spacing: 8px;
}
.parag {
	margin: 10px 0;
	padding: 22px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.6em;
	text-align: center;
}
.hero {
	margin-top: 4em;
	display: flex;
	width: 100%;
	height: 100vh;
	.left p {
		display: flex;
		justify-self: flex-end;
	}
}
.right {
	flex: 40%;
	text-align: center;
	background: $color_french_pass_approx;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.btn {
		display: block;
		width: 200px;
		text-transform: uppercase;
		padding: 1em;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid $black;
		background-color: $black;
	}
	p {
		display: block;
	}
}
span {
	.fas {
		color: $crimson;
	}
	h1 {
		color: $crimson;
		display: inline;
		background-color: $white;
		font-size: 1.5em;
	}
	h2 {
		color: $white;
		margin-top: 21px;
		display: inline-block;
		font-size: 3.1em;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: $color_mine_shaft_approx;
	}
}
ul {
	font-size: 24px;
}
.left {
	flex-direction: column;
	padding: 0 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 60%;
	background: $color_mystic_approx;
}
.book {
	display: inline-block;
	background: $black;
	color: $white;
	margin-top: 44px;
	padding: 1em;
}
.ssection {
	margin-top: .1em;
	display: flex;
	height: auto;
	.btn {
		display: block;
		width: 200px;
		text-transform: uppercase;
		padding: 1em;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid;
		background-color: $crimson;
	}
	i {
		margin: .5em;
	}
	ul {
		margin: 1em 0;
		li {
			font-size: 16px;
			padding: 5px 0;
			margin: 0;
			list-style: disc;
		}
	}
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 22px;
		padding: 0.3em;
	}
}
.s-left {
	flex-direction: column;
	padding: 0 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.s-right {
	flex-direction: column;
	padding: 0 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.trans {
	margin-top: 5em;
	display: flex;
	width: 100%;
	height: 40vh;
	background: $color_silver_approx;
	flex-direction: column;
	align-items: center;
	.btn {
		display: block;
		width: 200px;
		text-transform: uppercase;
		text-align: center;
		padding: 1em;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		color: $white;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid;
		background-color: transparent;
	}
	h2 {
		margin-top: 1em;
		padding: 0.5em;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 800;
		background: $white;
		color: $crimson;
	}
}
.about {
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: auto;
	i {
		font-size: 200px;
		margin-top: .2em;
		align-self: center;
	}
	h3 {
		margin-top: 1em;
		margin-bottom: 0.5em;
		font-size: 23px;
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		text-align: left;
	}
	p {
		font-size: 18px;
		font-weight: 500;
		line-height: 32.4px;
		padding: 0 0 1em;
		text-align: left;
	}
}
.customer-revs {
	margin-top: 2em;
	.author {
		font-size: 16px;
		font-weight: 400;
		line-height: 32.4px;
	}
	q {
		font-size: 18px;
		font-weight: 500;
		line-height: 32.4px;
		padding: 0.5em;
		background: $white;
	}
	h1 {
		padding: 0.8em;
		margin-top: 2em;
		margin-bottom: 0.5em;
		font-size: 23px;
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		text-align: center;
	}
}
.rectangle {
	width: 40%;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.slideshow-container {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: $color_bombay_approx;
}
.mySlides {
	display: none;
	padding: 2rem 5rem 0;
	text-align: center;
}
.mySlidesContainer {
	min-height: 5rem;
	padding: 3.5rem 2.5rem 2rem 3.5rem;
}
.dot-container {
	height: auto;
	text-align: center;
	background: $color_bombay_approx;
	padding: 2em;
}
.dot {
	height: 0.9375rem;
	width: 0.9375rem;
	margin: 0 2px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	display: inline-block;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background-color 0.4s ease;
}
.active {
	background-color: $color_mine_shaft_approx;
}
.icon-small {
	display: flex;
	flex-direction: row;
	align-items: center;
	i {
		height: 38px;
		width: 38px;
		color: $crimson;
		font-size: 24px;
		line-height: 15px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 10%;
		text-align: center;
		vertical-align: middle;
		padding-top: 12px;
	}
	+ p {
		margin-top: 15px;
		font-size: 24px;
		font-weight: normal;
		padding-left: 2em;
	}
	h4 {
		font-size: 32px;
		font-weight: bold;
		color: $color_mine_shaft_approx;
	}
}
.details {
	padding: 0 1em;
}
.box {
	background-color: $white;
	width: 33%;
	margin: auto;
	padding: 1em;
	margin-top: 3em;
	margin-bottom: 3em;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.red-section {
	margin-bottom: 2em;
	margin-top: 3em;
	background-color: $crimson;
	color: $white;
	h1 {
		padding-top: 2em;
		font-size: 32px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
	}
	p {
		line-height: 25px;
		font-size: 20px;
		padding: 1em 5em;
	}
	i {
		font-size: 90px;
		color: $black;
	}
}
.red-boxes {
	padding-bottom: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: -2em;
	i p {
		text-align: center;
	}
}
.card {
	display: flex;
	flex: 1;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
.end {
	background: $color_french_pass_approx;
	width: 100%;
	display: flex;
}
.hero-offer {
	margin-top: 2em;
	display: flex;
	background-color: $color_cod_gray_approx;
	color: $white;
	margin-bottom: 22px;
}
.feat {
	text-align: center;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h3 {
		line-height: 1.1;
		font-size: 23px;
		margin: .7em 0;
		padding: 1em;
	}
	h1 {
		line-height: 1.1;
		font-size: 33px;
		margin: .7em 0;
		padding: 1em;
	}
}
.mobile-pic {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	i {
		font-size: 500px;
	}
}
.end-left {
	margin: auto;
	flex: 50%;
	text-align: center;
	background: $color_french_pass_approx;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h1 {
		padding: 1.5em;
		font-size: 32px;
	}
	p {
		padding: 1em;
		text-align: center;
		font-size: 20px;
		line-height: 2;
	}
}
.container-text {
	width: auto;
}
.end-right {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	i {
		padding: .1em;
		font-size: 222px;
	}
}
.LegendItem {
	font-size: 18px;
	display: flex;
}
.LegendItem_Eye {
	margin-left: 52px;
	width: 23px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 11px 10px;
	color: $crimson;
}
.LegendItem_Text {
	flex: 1;
	padding: 11px 10px;
	line-height: 1.3;
	text-align: justify;
}
.hero-contact {
	background: $color_river_bed_approx;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-direction: column;
	h1 {
		font-size: 60px;
		text-transform: uppercase;
		padding: .2em;
	}
}
.center {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	margin: 2em 0;
}
.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 70%;
	margin: auto;
	font-size: 24px;
	text-align: start;
	border: 1px solid $black;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 12px;
	padding: 10px;
}
.map {
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
button {
	display: block;
	border: 0;
	margin: 10px 0;
	padding: 0.5em;
	color: $white;
	background: $crimson;
	text-align: center;
}
input {
	padding: 2px;
	margin: 20px 0;
	width: 100%;
}
textarea {
	padding: 2px;
	margin: 20px 0;
	width: 100%;
}
.contact-left {
	margin: 20px 0;
	letter-spacing: 2px;
	font-size: 20px;
	height: 100%;
	flex: 1;
	padding: 25px;
	line-height: 1.9;
}
.contact-right {
	flex: 1;
	flex-direction: column;
	display: flex;
}
.about-hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: $color_river_bed_approx;
	text-align: center;
	h1 {
		background: $white;
		color: $color_river_bed_approx;
		font-size: 60px;
		text-transform: uppercase;
		padding: .2em;
	}
}
.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 4em 0;
	p {
		width: 80%;
		max-width: 900px;
		font-size: 20px;
		line-height: 1.8;
		text-align: center;
	}
	i {
		max-width: 900px;
		margin: 0.1em;
		font-size: 344px;
	}
}
.quotte {
	padding: 2em;
	max-width: 900px;
	margin: auto;
	background: $black;
	color: $white;
	margin-bottom: 2em;
	border-left: $crimson 4px solid;
	border-right: $crimson 4px solid;
	h2 {
		font-weight: 700;
		font-size: 2em;
		line-height: 1.6;
	}
	p {
		font-weight: 700;
		font-size: 16px;
		text-align: end;
	}
}
.fifty {
	margin-top: 44px;
	display: flex;
}
.fifty-left {
	flex: 70%;
	text-align: center;
	font-weight: 900;
}
.fifty-right {
	flex: 30%;
	background-color: $crimson;
}
.fa-ul li {
	padding: 5px 0;
}
.btn:hover {
	background: $white;
	color: $black;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.45s;
}
.picures i {
	font-size: 40px;
}